* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
}
html {
  scroll-behavior:smooth;
}
body {
  font-family:'Playfair Display', serif;
  color:black; 
}
a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none; 
}
.background-img {
  position: absolute;
  top: 0; 
  background-repeat: none; 
  width: 200%;
  height: 300%; 
}
.content {
  position: relative; 
  z-index: 1; 
}
.social-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:flex-end; 
  margin: 10px 10px;  
  padding: 20px;
}
.header-logo {
  display: flex;
  font-family: 'Playfair Display', serif;
  color:black;   
  width: 100%;
  font-size: 75pt; 
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
  align-items: center;  
}
.nav-wrapper {
  width:100%; 
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  flex-direction: row;
  align-items: center; 
  background-color: black;
}
.nav-link {
  width: 100%; 
}
.nav-link a {
  display: inline-block;
  list-style: none;
  margin: 20px 20px;
  color: white;
  font-size: 25px; 
}
a {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: stretch;
  justify-content: flex-end;
}
a:hover {
  color: blue; 
  letter-spacing: 2px; 
}
.main-container { 
  text-align: center; 
  padding: 10px;
  align-content: center; 

}
img.myfamilypic {
  display: inline-block;
  align-items: center;
  height: 500px;  
  width: auto; 
}
h1 {
  text-align: center;
  padding: 30px; 
  font-size: 30pt;  
}
p {
  font-family: 'Playfair Display', serif;
  flex-flow: wrap;
  font-size: 20pt;
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px; 
}
.skills-link {
  width: 100%;
  font-size: 25px;
  display: flex;
  align-content: stretch;
  justify-content: center;
  align-items: center
}
button {
  border-radius: 15px;  
  background-color: white;
  padding: 20px; 
  font-size: 15px; 
  font-family:'Times New Roman', Times, serif; 
  letter-spacing: 2px;
  margin-bottom: 2em;
}
button:hover {
  color: white; 
  background-color:blueviolet;
  letter-spacing: 5px; 
  box-shadow: 5px 40px -10px black; 
  cursor: pointer; 
  
}
.skills-grid {
  display: grid; 
  grid-template-columns: auto auto auto; 
  box-sizing: border-box; 
  padding: 5px; 
  grid-gap: 2em 4em; 
}
p1 {
  color: black; 
  font-size: 12pt; 
}
.portfolio-grid {
  display: flex; 
  flex-wrap: nowrap; 
  flex-direction: row; 
  align-content: space-around; 
  justify-content: space-around;
  padding: 15px; 

}
.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9 {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden; 
  height: 100px; 
  max-height: 35vh;
  width: 100%;
  text-align:center; 
  -webkit-box-shadow: 0px 12px 18px -6px black; 
  box-shadow: 0px 12px 18px -6px black;
  padding: 15px;
  margin: black;  
  
}
.form-container {
  border-radius: 15px; 
  background-color: slategray; 
  padding: 20px; 
  height: 480px; 
  width: 500px; 
  display: block; 
  margin: auto; 

}
.contact-form {
  border-radius: 10px;
  background-color:white; 
  padding: 20px; 
  font-family: 'Playfair Display', serif;
  height: 480px; 
  width: 500px; 
 
}
label {
  cursor:default; 
}
input [type=text] {
  width: 100%; 
  text-align:justify;
  padding: 15px; 
  border-radius: 15px; 
  box-sizing: border; 
  margin-top: 4px; 
  margin-bottom: 15px; 
  resize: vertical; 
}
input[type=submit] {
  background-color:white:
  color: white;  
  padding: 15px; 
  border: none; 
  border-radius: 5px; 
}

.footer-container {
  display: inline-flex;
  text-align: right;
  width: 100%;
  font-size: 20px;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}